body{
  background-color: #F9F5EB;
}
hr{
  border-style: dotted none none none;
  border-width: 5px;
  width : 5%;

}
img{
  border-radius: 50%;
  border: 3px solid #555;
  border-color: black;
}
h3{
  color: #66BFBF;
}
